@mixin visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;

  &:active,
  &:focus {
    clip: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    white-space: inherit !important;
  }
}

@mixin list-unstyle {
  list-style: none;
  padding-left: 0;
}

@mixin container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}
