form {
  * {
    box-sizing: border-box;
  }
}
.button {
  line-height: 26px;
  text-align: center;
  color: var(--button-color);
  border: 2px solid;
  border-radius: 2px;
  background-color: var(--button-bg-color);
  padding: calc(var(--gap-size) / 2) calc(var(--gap-size) * 2);
}
