.page_layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    flex-grow: 2;
    @include container();
  }
  .header {
    display: flex;
    @include container();
    align-items: center;
    justify-content: space-between;
    #block-main-menu {
      flex-grow: 2;
      margin-left: calc(2 * var(--gap-size));
    }
  }

  .footer {
    @include container();
  }

  .fixed_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &_inner {
      @include container();
    }
  }
  
}
