:root {
  --color-blue-light: #505f98;
  --color-blue: #37447e;
  --color-submit-blue-bg: #111b47;

  --container-width: 1110px;

  --gap-size: 8px;

  --button-color: #091133;

  --button-bg-color: #fff;
}

.visually-hidden {
  @include visually-hidden();
}

.hidden {
  display: none;
}

.list-unstyle {
  @include list-unstyle();
}
