{%
  set classes = [
  'fp',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('fp_content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}