{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}

{% set paragraph = element['#object'] %}
{% set title_element = paragraph.getBehaviorSetting('paragraph_behavior_description', ['description_element', 'tag'], 'div') %}

{% for item in items %}
  <{{ title_element }}{{ attributes.addClass(field_name) }}>{{ item.content }}</{{ title_element }}>
{% endfor %}
