#block-brand a {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  text-decoration: none;
  color: var(--color-blue); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto.woff2) format("woff2"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold.woff2) format("woff2"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/Roboto-Black.woff2) format("woff2"); }

form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  line-height: 26px;
  text-align: center;
  color: var(--button-color);
  border: 2px solid;
  border-radius: 2px;
  background-color: var(--button-bg-color);
  padding: calc(var(--gap-size) / 2) calc(var(--gap-size) * 2); }

.main_menu a, .footer_menu a {
  text-decoration: none;
  color: var(--color-blue-light);
  font-size: 14px;
  line-height: 24px; }

.page_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.page_layout .content {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto; }

.page_layout .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.page_layout .header #block-main-menu {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: calc(2 * var(--gap-size)); }

.page_layout .footer {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto; }

.page_layout .fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.page_layout .fixed_header_inner {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto; }

:root {
  --color-blue-light: #505f98;
  --color-blue: #37447e;
  --color-submit-blue-bg: #111b47;
  --container-width: 1110px;
  --gap-size: 8px;
  --button-color: #091133;
  --button-bg-color: #fff; }

.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.visually-hidden:active, .visually-hidden:focus {
  clip: auto !important;
  height: auto !important;
  margin: 0 !important;
  overflow: visible !important;
  position: static !important;
  width: auto !important;
  white-space: inherit !important; }

.hidden {
  display: none; }

.list-unstyle {
  list-style: none;
  padding-left: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px; }

/*# sourceMappingURL=maps/global.css.map */
